

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
   
  }

  .menu {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
  }

.menu-item {
  padding: 20px;
  margin: 5px;
  width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

  .top {
    background-color: #ffffff;
      margin: 10px;
      border-radius: 30px;
      opacity: 75%;
  }
  .middle {
    background-color: #ffffff;
      margin: 10px;
      border-radius: 30px;
      opacity: 75%;
  }
  .bottom {
    background-color: #ffffff;
      margin: 10px;
      border-radius: 30px;
      opacity: 75%;
  }
footer {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
  }

body, header, footer {
    background-color: rgb(216, 216, 216);
}
