
head, body, footer {
  background-color: #888888;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
   
  }

  .menu {
    display: flex;
    background-color: #ffffff;
    opacity: 75%;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
  }

.menu-item {
  margin: 10px;
  background-color: #dfdfdf;
  border-radius: 0px;
  opacity: 75%;
  text-align: center;
  padding: 20px;
}

body > header > div > a> div > img {

padding-right: 5px;
vertical-align: middle;
}

body > header > div > a:nth-child(1) > div > img {
  display: flex;
}
 
.menu-item:hover {
  box-shadow: 1px 2px 1px #888888;
}



a {
  text-decoration:none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(43, 43, 43);
  align-content: center
  
}

  .bottom, .middle, .top {
    background-color: #ffffff;
      margin: 10px;
      border-radius: 30px;
      opacity: 75%;
  }

.footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  opacity: 75%;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
}

@media only screen and (max-width: 700px) {
  .menu {
    display: block;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
  
}